@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Home Page</h1>
    <button id="btn">Get</button>
    <p>
        <span id="userId"></span>
        <span id="userName"></span>
        <span id="password"></span>
    </p>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function(){
            $('#btn').on('click', function(){
                $.post('/test/getUser', function(data, status){
                    if (status != null && status == 'success') {
                        $('#userId').text(data.id);
                        $('#userName').text(data.name);
                        $('#password').text(data.password);
                    }
                    else {
                        alert('Error');
                    }
                })
            })
        })
    </script>
}